body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: #000;

}

/* probably don't need this anymore */
.container{
    display: flex;
}

#company-link{
    color: #000;

}
a, a:visited{
    text-decoration: none;
    color: #69696a;
    
}

header{
    padding: 2rem;
}

main{
    padding: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
}

nav{
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

button{
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 100%;
    border-radius: 25px;
}

#hire{
    color: #fff;
    background-color: #000;
    text-align: center;
    display: block;
    width: 100%;
    margin: 1rem;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1px 6px;
    font: 400 13.3333px Arial;
    
}
blockquote{
    color: #69696a;
    border-left: solid 5px #69696a;
    padding: 1rem;
}


/* start media query for tablet/desktop styles */

@media only screen and (min-width: 768px){
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        
    }
    ul{
        display:flex;
        flex-direction: row;
        
    }

    .links{
          display: flex;
          flex-direction: row;
      }
    li{
        padding: 10px;
    }
    blockquote{
        width: 50%;
    }

    button{
        width: auto;
    }

    #hire{
        width: auto;
        align-self: center;
    }
    
    #scroll{
        position: absolute;
        bottom: 5%;
        left: 50%;
    
    }
    #circle-large{
        height: 150px;
        width: 150px;
        background-color: rgba(247, 136, 167, 0.6);;
        border-radius: 50%;
        position: absolute;
        top: 100px;
        right: 150px;
        
    
    }
    #circle-medium{
        height: 100px;
        width: 100px;
        background-color: rgba(247, 193, 162, 0.7);;
        border-radius: 50%;
        position: absolute;
        top: 180px;
        right: 100px;
    
    }
    #circle-small{
        height: 75px;
        width: 75px;
        background-color: rgba(207, 130, 213, 0.6);;
        border-radius: 50%;
        position: absolute;
        top: 150px;
        right: 90px;
        
    
    }
}